<footer class="site-footer" dir="rtl" aria-label="تذييل الموقع">

  <!-- المحتوى الأساسي -->
  <div class="footer-main">
    <!-- يمين: الشعار + الروابط -->
    <section class="footer-info">

      <!-- الشعار والوصف -->
      <div class="footer-brand">
        <img src="assets/footerImages/meter-footer-logo.svg" alt="Meter Logo">
        <p>
          متر للتكنولوجيا، خدماتك المساحية والهندسية بين يديك.
        </p>
      </div>

      <!-- روابط التنقل -->
      <nav class="footer-nav" aria-label="روابط الفوتر">
        <ul>
          <li><a class="active" href="/" >الرئيسية</a></li>
          <li><a href="/">نبذة عنا</a></li>
          <li><a href="/">الخدمات</a></li>
          <li><a href="/">تواصل معنا</a></li>
        </ul>
      </nav>

      <!-- روابط التواصل الاجتماعي -->
      <nav class="footer-social" aria-label="وسائل التواصل الاجتماعي">
        <ul>
        <li>
          <a href="#" aria-label="Tiktok">
            <img
              src="assets/footerImages/Tik-Tok.svg"
              alt="Tiktok"
            />
          </a>
        </li>
        <li>
          <a href="#" aria-label="Instgram">
            <img
              src="assets/footerImages/Insatgram.svg"
              alt="Instgram"
            /></a>
          </li>
        <li>
          <a href="#" aria-label="Facebook">
            <img
              src="assets/footerImages/Face-Book.svg"
              alt="Facebook"
            /></a>
          </li>
        <li>
          <a href="#" aria-label="LinkedIn">
            <img
              src="assets/footerImages/LinkedIn.svg"
              alt="LinkedIn"
            /></a>
          </li>
        <li>
          <a href="#" aria-label="X">
            <img
              src="assets/footerImages/x.svg"
              alt="X"
            />
          </a>
          </li>
      </ul>
      </nav>
      <!-- روابط قانونية -->
    <nav class="footer-legal" aria-label="روابط قانونية">
      <ul>
        <li><a href="/privacy">الخصوصية</a></li>
        <li><a href="/terms">الشروط</a></li>
        <li><a href="/cookies">الكوكيز</a></li>
      </ul>
      <p class="copyright">
      © 2025 متر. جميع الحقوق محفوظة.
    </p>
    </nav>
     <!-- حقوق النشر -->
    
    </section>

    <!-- يسار: صورة التطبيق + المتاجر -->
    <section class="footer-app" aria-labelledby="app-title">
      <h2 id="app-title" class="sr-only">تطبيق متر</h2>

      <figure>
        <img src="assets/footerImages/iPhone -15-Pro.svg"
             alt="تطبيق متر على الهاتف المحمول">
      </figure>

      <div class="app-stores">
        <a href="#" aria-label="تحميل من App Store">
          <img src="assets/footerImages/Mobile-app-store.svg" alt="App Store">
        </a>

        <a href="#" aria-label="تحميل من Google Play">
          <img src="assets/footerImages/Mobile-google-play.svg" alt="Google Play">
        </a>
      </div>
    </section>

    
  </div>

  
</footer>