@import "tailwindcss";

@font-face {
  font-family: 'Cairo';
  src: url('/assets/fonts/Cairo/Cairo-Font.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: 'Cairo', sans-serif;
  
}